@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  position: relative;
  font-size: 18px;
}
@media (max-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
html .container {
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  html .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  html .container {
    width: 95%;
  }
}
html .goTop {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.27);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
  display: none;
}

.header {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.headerHome {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/tiger.jpg");
  height: 100vh;
  margin-bottom: 2em;
}

.headerGallery {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../image/elephant.jpg");
  height: 80vh;
}

.headerContact {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/fallow-deer.jpg");
  height: 80vh;
}

.headerAbout {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/gary-bendig.jpg");
  height: 80vh;
}

.headerServices {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/koala-min.jpg");
  height: 80vh;
  margin-bottom: 2em;
}

.contentHeader {
  max-width: 750px;
  margin-bottom: 250px;
}
@media (max-width: 992px) {
  .contentHeader {
    margin-bottom: 150px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contentHeader {
    margin-bottom: 25px;
    width: 100%;
  }
}
.contentHeader__header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-weight: 300;
}
.contentHeader__title {
  font-family: "Roboto", helvetica;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.contentHeader__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 400;
  margin-bottom: 1em;
}
.contentHeader__button {
  background-color: #2EB872;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.7em;
  font-weight: 700;
  font-family: "Roboto", helvetica;
  cursor: pointer;
  font-weight: 500;
}
@media (max-width: 768px) {
  .contentHeader__button {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 1.5em 0;
  }
}

.nav {
  width: 100%;
  position: absolute;
  top: 50px;
}
@media (max-width: 768px) {
  .nav {
    top: 25px;
  }
}
.nav .navigation {
  background-color: rgba(255, 255, 255, 0.27);
  padding: 1.2em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .nav .navigation {
    padding: 1.2em 1.5em;
  }
}
.nav .navigation__logo {
  font-family: "Roboto", helvetica;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .nav .navigation__logo {
    position: absolute;
    top: 12px;
    left: 25px;
  }
}
.nav .navigation__right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .nav .navigation__right {
    width: 100%;
  }
}
.nav .navigation hr {
  width: 100%;
  margin: 1em 0;
}
@media (max-width: 768px) {
  .nav .navigation hr {
    display: none;
  }
}
.nav .navigation__networks {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .nav .navigation__networks {
    display: none;
  }
}
.nav .navigation__network {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 400;
  margin-left: 2em;
}
.nav .navigation__network i {
  margin-right: 8px;
}
.nav .navigation__movil {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 992px) {
  .nav .navigation__movil {
    display: block;
  }
}
.nav .navigation__close {
  color: #fff;
  font-size: 1.5rem;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.nav .navigation__links {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .nav .navigation__links {
    width: 0%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
  }
}
@media (max-width: 992px) {
  .nav .navigation__links--show {
    width: 100%;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .nav .navigation__links--show {
    margin-top: 1em;
  }
}
.nav .navigation__link {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}

/****Home Page****/
.mainHome .mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6em;
}
@media (max-width: 768px) {
  .mainHome .mainHeader {
    margin-bottom: 3em;
  }
}
.mainHome .mainHeader__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #192021;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .mainHeader__title {
  font-family: "Roboto", helvetica;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
@media (max-width: 992px) {
  .mainHome .mainHeader__title {
    text-align: center;
  }
}
.mainHome .mainHeader__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .enjoy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}
@media (max-width: 992px) {
  .mainHome .enjoy {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
}
.mainHome .enjoy__content {
  width: 50%;
  order: 2;
}
@media (max-width: 992px) {
  .mainHome .enjoy__content {
    width: 100%;
  }
}
.mainHome .enjoy__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainHome .enjoy__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 1em;
}
.mainHome .enjoy__detail {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .enjoy__icon {
  color: #2EB872;
  margin-right: 10px;
}
.mainHome .enjoy__image {
  width: 550px;
  height: 550px;
  object-fit: cover;
  order: 1;
  border-radius: 25px;
  transform: rotate(-5deg);
}
@media (max-width: 992px) {
  .mainHome .enjoy__image {
    width: 400px;
    height: 400px;
    margin-bottom: 2.5em;
  }
}
@media (max-width: 992px) {
  .mainHome .enjoy__image {
    width: 85%;
    height: 300px;
  }
}
.mainHome .awesome {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
@media (max-width: 992px) {
  .mainHome .awesome {
    align-items: center;
  }
}
.mainHome .awesome__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2em;
}
@media (max-width: 992px) {
  .mainHome .awesome__content {
    flex-direction: column;
  }
}
.mainHome .awesome__content .left {
  width: 65%;
}
@media (max-width: 992px) {
  .mainHome .awesome__content .left {
    width: 100%;
    margin-bottom: 2em;
  }
}
.mainHome .awesome__content .left__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainHome .awesome__content .left__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .awesome__content .right {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .mainHome .awesome__content .right {
    width: 100%;
  }
}
.mainHome .awesome__content .right .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHome .awesome__content .right .details__title {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .awesome__content .right .details__number {
  font-family: "Roboto", helvetica;
  font-size: 1.1rem;
  color: #192021;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .awesome__icons {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  .mainHome .awesome__icons {
    width: 50%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .mainHome .awesome__icons {
    width: 80%;
    gap: 2em;
  }
}
.mainHome .awesome__icons .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2EB872;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.mainHome .awesome__icons .icon::before {
  content: "";
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto", helvetica;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.mainHome .awesome__icons .icon:nth-child(1)::before {
  content: "Spiders";
}
.mainHome .awesome__icons .icon:nth-child(2)::before {
  content: "Birds";
}
.mainHome .awesome__icons .icon:nth-child(3)::before {
  content: "Fishes";
}
.mainHome .awesome__icons .icon:nth-child(4)::before {
  content: "Frogs";
}
.mainHome .awesome__icons .icon:nth-child(5)::before {
  content: "Horses";
}
.mainHome .awesome__icons .icon:hover::before {
  transform: scale(1);
}
.mainHome .awesome__icons .icon__animal {
  color: #fff;
  font-size: 1.4rem;
}
.mainHome .ourAnimals {
  margin-bottom: 2em;
}
.mainHome .ourAnimals__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainHome .ourAnimals .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(1) {
  display: inline-block;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(2) {
  display: inline-block;
  grid-column: 2/4;
  grid-row: 1/3;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(3) {
  display: inline-block;
  grid-column: 4/5;
  grid-row: 1/3;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/5;
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(4) {
  display: inline-block;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(4) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(5) {
  display: inline-block;
  grid-column: 1/2;
  grid-row: 3/4;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(5) {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(6) {
  display: inline-block;
  grid-column: 2/3;
  grid-row: 3/4;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(6) {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
.mainHome .ourAnimals .gallery__data:nth-child(7) {
  display: inline-block;
  grid-column: 3/5;
  grid-row: 3/4;
}
@media (max-width: 768px) {
  .mainHome .ourAnimals .gallery__data:nth-child(7) {
    grid-column: 1/2;
    grid-row: 8/9;
  }
}
.mainHome .ourAnimals .gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mainHome .services {
  margin-bottom: 2em;
}
.mainHome .services__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainHome .services .cards {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.mainHome .services .cards__card {
  width: 23%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .mainHome .services .cards__card {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .mainHome .services .cards__card {
    width: 100%;
  }
}
.mainHome .services .cards__icon {
  color: #2EB872;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.mainHome .services .cards__title {
  font-family: "Roboto", helvetica;
  font-size: 1.1rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.mainHome .services .cards__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: justify;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .parallax {
  margin-bottom: 2em;
  padding: 4em 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../image/rabbit_medium.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.mainHome .parallax .application {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .mainHome .parallax .application {
    flex-direction: column;
  }
}
.mainHome .parallax .application .download {
  width: 30%;
}
@media (max-width: 992px) {
  .mainHome .parallax .application .download {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .mainHome .parallax .application .download {
    width: 100%;
  }
}
.mainHome .parallax .application .download__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.mainHome .parallax .application .download__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
@media (max-width: 768px) {
  .mainHome .parallax .application .download__text {
    margin-bottom: 1.5em;
  }
}
.mainHome .parallax .application .mobile {
  width: 55%;
  background-color: #2EB872;
  display: flex;
  align-items: center;
  padding: 1.3em;
  gap: 2em;
}
@media (max-width: 768px) {
  .mainHome .parallax .application .mobile {
    width: 100%;
  }
}
.mainHome .parallax .application .mobile__icon {
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 992px) {
  .mainHome .parallax .application .mobile__icon {
    display: none;
  }
}
.mainHome .parallax .application .mobile__title {
  font-family: "Roboto", helvetica;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainHome .parallax .application .mobile__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
  line-height: 1.6;
  font-weight: 300;
}
.mainHome .testimonials {
  margin-bottom: 2em;
}
.mainHome .testimonials__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainHome .testimonials .visitors {
  display: flex;
  align-items: center;
  gap: 2em;
}
.mainHome .testimonials .visitors__image {
  width: 400px;
}
@media (max-width: 992px) {
  .mainHome .testimonials .visitors__image {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .mainHome .testimonials .visitors__image {
    display: none;
  }
}
.mainHome .testimonials .visitors__title {
  font-family: "Roboto", helvetica;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 500;
}
.mainHome .testimonials .visitors__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 1em;
}
.mainHome .testimonials .visitors__name {
  color: #2EB872;
  font-weight: 500;
  font-family: "Roboto", helvetica;
  margin-left: 3em;
}
.mainHome .newsletter {
  padding: 6em 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../image/gary-bendig.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .mainHome .newsletter {
    padding: 3em 0;
  }
}
.mainHome .newsletter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHome .newsletter__title {
  font-family: "Roboto", helvetica;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8em;
}
.mainHome .newsletter__form {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .mainHome .newsletter__form {
    width: 100%;
    flex-direction: column;
  }
}
.mainHome .newsletter__email {
  padding: 14px;
  width: 350px;
  border-radius: 5px;
  border: none;
  margin-right: 1em;
}
@media (max-width: 768px) {
  .mainHome .newsletter__email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.mainHome .newsletter__email:focus {
  outline: none;
}
.mainHome .newsletter__submit {
  background-color: #2EB872;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.7em;
  font-weight: 700;
  font-family: "Roboto", helvetica;
  cursor: pointer;
  font-weight: 500;
}

/*Gallery*/
.main .galleryPage {
  display: grid;
  width: 100%;
  grid-template-areas: "eagle lion lion frailecillo" "fox lion lion frailecillo" "iguana snake frog frog" "koala koala rabbit wolf" "koala koala rabbit turtle" "lizard penguin penguin bear";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 250px);
}
@media (max-width: 768px) {
  .main .galleryPage {
    grid-template-areas: "eagle" "fox" "lion" "frailecillo" "frailecillo" "iguana" "snake" "frog" "koala" "rabbit" "rabbit" "wolf" "turtle" "lizard" "penguin" "bear";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}
.main .galleryPage__data:nth-child(1) {
  grid-area: eagle;
}
.main .galleryPage__data:nth-child(2) {
  grid-area: lion;
}
.main .galleryPage__data:nth-child(3) {
  grid-area: frailecillo;
}
.main .galleryPage__data:nth-child(4) {
  grid-area: fox;
}
.main .galleryPage__data:nth-child(5) {
  grid-area: iguana;
}
.main .galleryPage__data:nth-child(6) {
  grid-area: snake;
}
.main .galleryPage__data:nth-child(7) {
  grid-area: frog;
}
.main .galleryPage__data:nth-child(8) {
  grid-area: koala;
}
.main .galleryPage__data:nth-child(9) {
  grid-area: rabbit;
}
.main .galleryPage__data:nth-child(10) {
  grid-area: wolf;
}
.main .galleryPage__data:nth-child(11) {
  grid-area: turtle;
}
.main .galleryPage__data:nth-child(12) {
  grid-area: lizard;
}
.main .galleryPage__data:nth-child(13) {
  grid-area: penguin;
}
.main .galleryPage__data:nth-child(14) {
  grid-area: bear;
}
.main .galleryPage__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/****Contact Page****/
.mainContact .iconsContact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2.2em 0;
  margin-bottom: 2em;
}
@media (max-width: 992px) {
  .mainContact .iconsContact {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .mainContact .iconsContact {
    flex-direction: column;
  }
}
.mainContact .iconsContact__card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .mainContact .iconsContact__card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .mainContact .iconsContact__card {
    width: 100%;
  }
}
.mainContact .iconsContact__icon {
  color: #2EB872;
  font-size: 2rem;
  margin-bottom: 0.8em;
}
.mainContact .iconsContact__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #343a40;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 500;
}
.mainContact .iconsContact__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 300;
}
.mainContact .formContact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.mainContact .formContact__image {
  width: 45%;
  height: 850px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 992px) {
  .mainContact .formContact__image {
    display: none;
  }
}
.mainContact .formContact .form {
  width: 45%;
}
@media (max-width: 992px) {
  .mainContact .formContact .form {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .mainContact .formContact .form {
    width: 100%;
  }
}
.mainContact .formContact .form__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.mainContact .formContact .form__control {
  position: relative;
  width: 100%;
  height: 55px;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .mainContact .formContact .form__control {
    margin-bottom: 0.7em;
  }
}
.mainContact .formContact .form__control:last-of-type {
  margin-bottom: 6em;
}
@media (max-width: 768px) {
  .mainContact .formContact .form__control:last-of-type {
    margin-bottom: 4em;
  }
}
.mainContact .formContact .form__input {
  position: absolute;
  width: 100%;
  font-size: 1.1rem;
  padding: 1.1em 0.9em 0.3em 0.9em;
  background-color: transparent;
  border: 1px solid #666;
  border-radius: 5px;
  color: #666;
}
.mainContact .formContact .form__input:focus {
  border: none;
  outline: 1px solid #2EB872;
}
.mainContact .formContact .form__input:focus + .form__label, .mainContact .formContact .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-15px) scale(0.9);
  color: #2EB872;
  transform-origin: top left;
}
@media (max-width: 992px) {
  .mainContact .formContact .form__input:focus + .form__label, .mainContact .formContact .form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(0.9);
  }
}
.mainContact .formContact .form__label {
  display: block;
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  user-select: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #666;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  transition: transform 0.5s ease;
}
@media (max-width: 992px) {
  .mainContact .formContact .form__label {
    top: 12px;
  }
}
.mainContact .formContact .form__submit {
  background-color: #2EB872;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.7em;
  font-weight: 700;
  font-family: "Roboto", helvetica;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
@media (max-width: 768px) {
  .mainContact .formContact .form__submit {
    width: 100%;
    padding: 1.3em 0;
  }
}
.mainContact .detailsMapMobile {
  width: 500px;
  background-color: #2EB872;
  padding: 1em 2em;
  display: none;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .mainContact .detailsMapMobile {
    display: block;
  }
}
.mainContact .detailsMapMobile__text {
  margin-bottom: 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
.mainContact .detailsMapMobile__text:last-child {
  margin-bottom: 0em;
}
.mainContact .detailsMapMobile__icon {
  margin-right: 1em;
}
.mainContact .map {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.27);
}
@media (max-width: 768px) {
  .mainContact .map {
    height: 450px;
  }
}
.mainContact .map .details {
  position: absolute;
  top: 30%;
  z-index: 1000;
  width: 500px;
  background-color: #2EB872;
  padding: 1em 2em;
}
@media (max-width: 992px) {
  .mainContact .map .details {
    opacity: 0.6;
  }
}
@media (max-width: 768px) {
  .mainContact .map .details {
    display: none;
  }
}
.mainContact .map .details__text {
  margin-bottom: 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
.mainContact .map .details__text:last-child {
  margin-bottom: 0em;
}
.mainContact .map .details__icon {
  margin-right: 1em;
}

/****About Page****/
.mainAbout {
  padding: 2em 0;
}
.mainAbout .objetives {
  margin-bottom: 2em;
}
.mainAbout .objetives .objetive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.mainAbout .objetives .objetive__image {
  width: 45%;
}
@media (max-width: 992px) {
  .mainAbout .objetives .objetive__image {
    display: none;
  }
}
.mainAbout .objetives .objetive__content {
  cursor: pointer;
  width: 45%;
  transition: transform 0.5s ease;
}
@media (max-width: 992px) {
  .mainAbout .objetives .objetive__content {
    width: 100%;
  }
}
.mainAbout .objetives .objetive__content:hover {
  transform: scale(1.1);
}
@media (max-width: 992px) {
  .mainAbout .objetives .objetive__content:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 768px) {
  .mainAbout .objetives .objetive__content:hover {
    transform: scale(1);
  }
}
.mainAbout .objetives .objetive__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.mainAbout .objetives .objetive__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
.mainAbout .ourTeam {
  margin-bottom: 2em;
}
.mainAbout .ourTeam__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.mainAbout .ourTeam .teams {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.mainAbout .ourTeam .teams .team {
  width: 23%;
}
@media (max-width: 992px) {
  .mainAbout .ourTeam .teams .team {
    width: 47%;
    margin-bottom: 1em;
  }
}
@media (max-width: 768px) {
  .mainAbout .ourTeam .teams .team {
    width: 100%;
  }
}
.mainAbout .ourTeam .teams .team__image {
  width: 100%;
}
.mainAbout .ourTeam .teams .team__name {
  font-family: "Roboto", helvetica;
  font-size: 1.2rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-weight: 500;
}
.mainAbout .ourTeam .teams .team__charge {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 1em;
}
.mainAbout .ourTeam .teams .team__icon {
  font-size: 1.2rem;
  margin-right: 1.1em;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
@media (max-width: 768px) {
  .mainAbout .ourTeam .teams .team__icon {
    margin-right: 2em;
  }
}
.mainAbout .ourTeam .teams .team__icon:hover {
  transform: scale(1.2);
}
.mainAbout .ourTeam .teams .team__icon:nth-child(1) {
  color: #1877F2;
}
.mainAbout .ourTeam .teams .team__icon:nth-child(2) {
  color: #00ACEE;
}
.mainAbout .ourTeam .teams .team__icon:nth-child(3) {
  color: #FF0000;
}
.mainAbout .testimonials {
  margin-bottom: 2em;
}
.mainAbout .testimonials__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.mainAbout .testimonials .visitors {
  display: flex;
  align-items: center;
  gap: 2em;
}
.mainAbout .testimonials .visitors__image {
  width: 400px;
}
@media (max-width: 992px) {
  .mainAbout .testimonials .visitors__image {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .mainAbout .testimonials .visitors__image {
    display: none;
  }
}
.mainAbout .testimonials .visitors__title {
  font-family: "Roboto", helvetica;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 500;
}
.mainAbout .testimonials .visitors__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 1em;
}
.mainAbout .testimonials .visitors__name {
  color: #2EB872;
  font-weight: 500;
  font-family: "Roboto", helvetica;
  margin-left: 3em;
}

/****Services Page****/
.mainServices .application {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .mainServices .application {
    flex-direction: column;
  }
}
.mainServices .application .download {
  width: 30%;
}
@media (max-width: 992px) {
  .mainServices .application .download {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .mainServices .application .download {
    width: 100%;
  }
}
.mainServices .application .download__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.mainServices .application .download__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
@media (max-width: 768px) {
  .mainServices .application .download__text {
    margin-bottom: 1.5em;
  }
}
.mainServices .application .mobile {
  width: 55%;
  background-color: #2EB872;
  display: flex;
  align-items: center;
  padding: 1.3em;
  gap: 2em;
}
@media (max-width: 768px) {
  .mainServices .application .mobile {
    width: 100%;
  }
}
.mainServices .application .mobile__icon {
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 992px) {
  .mainServices .application .mobile__icon {
    display: none;
  }
}
.mainServices .application .mobile__title {
  font-family: "Roboto", helvetica;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainServices .application .mobile__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
  line-height: 1.6;
  font-weight: 300;
}
.mainServices .movie {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.mainServices .movie__video {
  min-width: 350px;
}
.mainServices .services {
  margin-bottom: 2em;
}
.mainServices .services__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.mainServices .services .cards {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.mainServices .services .cards__card {
  width: 23%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .mainServices .services .cards__card {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .mainServices .services .cards__card {
    width: 100%;
  }
}
.mainServices .services .cards__icon {
  color: #2EB872;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.mainServices .services .cards__title {
  font-family: "Roboto", helvetica;
  font-size: 1.1rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.mainServices .services .cards__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #192021;
  text-align: justify;
  line-height: 1.6;
  font-weight: 300;
}
.mainServices .additionalServices {
  margin-bottom: 2em;
}
.mainServices .additionalServices .service {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .mainServices .additionalServices .service {
    flex-direction: column;
    margin-bottom: 1em;
  }
}
.mainServices .additionalServices .service__image {
  width: 50%;
}
@media (max-width: 992px) {
  .mainServices .additionalServices .service__image {
    order: 2;
    width: 100%;
  }
}
.mainServices .additionalServices .service__content {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .mainServices .additionalServices .service__content {
    justify-content: flex-start;
    order: 1;
    width: 100%;
  }
}
.mainServices .additionalServices .service__title {
  font-family: "Roboto", helvetica;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__header {
  background-color: #343a40;
  padding: 2em 0;
  width: 100%;
}
.footer__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .footer__top {
    flex-direction: column;
  }
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 50%;
}
@media (max-width: 992px) {
  .footer__navigation {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .footer__navigation {
    flex-direction: column;
    align-items: center;
  }
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
@media (max-width: 992px) {
  .footer__links {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .footer__links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
}
.footer__link {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
}
@media (max-width: 768px) {
  .footer__link {
    margin-bottom: 7px;
    display: inline-block;
  }
}
.footer__networks {
  display: flex;
  justify-content: space-evenly;
}
.footer__network {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 400;
  margin: 0 1.5em;
}
.footer__network i {
  margin-right: 8px;
}
@media (max-width: 992px) {
  .footer__network i {
    font-size: 1.3rem;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .footer__social {
    display: none;
  }
}
.footer__instagram {
  width: 30%;
}
@media (max-width: 992px) {
  .footer__instagram {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer__instagram {
    display: none;
  }
}
.footer__title {
  font-family: "Roboto", helvetica;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-weight: 500;
  align-self: flex-start;
}
.footer__gallery {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(2, auto);
}
.footer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__bottom {
  background-color: #192021;
  padding: 1em 0;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .footer__copyright {
    flex-direction: column;
    width: 100%;
  }
}
.footer__logo {
  font-family: "Roboto", helvetica;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .footer__logo {
    margin-bottom: 8px;
  }
}
.footer__terms {
  color: #fff;
}
@media (max-width: 992px) {
  .footer__terms {
    margin-bottom: 8px;
  }
}
.footer__legal {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 300;
}
@media (max-width: 992px) {
  .footer__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__detail {
  margin-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  font-weight: 300;
}

/*# sourceMappingURL=app.css.map */
