@use '../base/global';
@use '../base/colors' as colors;
@use '../base/mixins' as mixin;
@use '../base/variables' as var;

.header{
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.headerHome{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/tiger.jpg");
    height: 100vh;
    margin-bottom: 2em;   
}
.headerGallery{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../image/elephant.jpg");
    height: 80vh;
}
.headerContact{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/fallow-deer.jpg");
    height: 80vh;
}
.headerAbout{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../image/gary-bendig.jpg");
    height: 80vh;
}
.contentHeader{
    max-width:750px;
    margin-bottom: 250px;
    @include mixin.medium{
        margin-bottom: 150px;
        width: 100%;
    }
    @include mixin.little{
        margin-bottom: 25px;
        width: 100%;
    }
    &__header{
        @include mixin.title(var.$tipografia2, 1.2rem, colors.$color3);
        font-weight: 300;
    }
    &__title{
        @include mixin.title(var.$tipografia1, 3rem, colors.$color3);
    }
    &__description{
        @include mixin.text(var.$tipografia2, 1rem, colors.$color3);
        font-weight: 400;
        margin-bottom: 1em;
    }
    &__button{
        @include mixin.button(colors.$color1, colors.$color3, none);           
        font-weight: 500;
        @include mixin.little{
            width: 90%;
            display: block;
            margin: 0 auto;
            padding: 1.5em 0;
        }
    }
}
.nav{
    width: 100%;
    position: absolute;
    top: 50px;
    @include mixin.little{
        top: 25px;
    }
    .navigation{
        background-color: colors.$color6;
        padding: 1.2em 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        @include mixin.little{
            padding: 1.2em 1.5em;
        }
        &__logo{            
            @include mixin.title(var.$tipografia1, 2rem, colors.$color3);
            margin-bottom: 0;
            @include mixin.little{
                position: absolute;
                top: 12px;
                left: 25px;
            }
        }
        &__right{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include mixin.little{
                width: 100%;
            }
        }
        hr{
            width: 100%;
            margin:1em 0;
            @include mixin.little{
                display: none
            }

        }
        &__networks{
            display: flex;
            justify-content: flex-end; 
            //margin: 1em 0; 
            @include mixin.little{
                display: none
            }
        }
        &__network{
            @include mixin.text(var.$tipografia2, 1rem, colors.$color3);
            font-weight: 400;
            margin-left: 2em;
            i{
                margin-right: 8px;
            }
        }
        &__movil{
            display: none;
            color: colors.$color3;
            font-size: 1.5rem;
            cursor: pointer;
            @include mixin.medium{
                display: block;
            }
        }
        &__close{
            color: colors.$color3;
            font-size: 1.5rem;
            display: none;
            opacity: 0;
            visibility: hidden;
        }
        &__links{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            //margin: 1em 0;
           
                @include mixin.medium{
                    width: 0%;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                    transition: all 0.3s ease;
                }
            &--show{
                @include mixin.medium{
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                    flex-direction: column;
                    align-items: flex-start;
                    height: 150px;
                }
                @include mixin.little{
                    margin-top:1em ;
                }
            }
        }
        &__link{
            @include mixin.text(var.$tipografia2, 1rem, colors.$color3);
        }
    }
}