@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500;700&display=swap');
$medium : 992px;
$litle:768px;
$tipografia1:'Roboto', helvetica;
$tipografia2:'Open Sans', sans-serif;