@use '../base/global';
@use '../base/colors' as colors;
@use '../base/mixins' as mixin;
@use '../base/variables' as var;

/****About Page****/
.mainAbout{
    padding: 2em 0;

    .objetives{
        margin-bottom: 2em;
        .objetive{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;
            &__image{
                width: 45%;
            }
            &__content{
                cursor: pointer;
                width: 45%;
                transition: transform .5s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
            &__title{
                @include mixin.title(var.$tipografia1, 2.5rem, colors.$color2);
                text-transform: uppercase;
            }
            &__text{
                @include mixin.text(var.$tipografia2, 1rem, colors.$color5, left);
            }
        }
    }
}